<div class="d-flex justify-content-center" style="position: relative;">
	<div class="back-btn">
		<a asp-controller="Home"
		   asp-action="Home">
			<i class="main-color bi bi-caret-left-square"></i>
		</a>
	</div>

	<a asp-controller="Home"
	   asp-action="Home">
		<img id="minimalPhoto" class="mb-2" src="~/img/minimal_green_logo.png" alt="logo" />
	</a>
</div>