<!-- Info modal -->
<div class="modal fade" id="toastInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="infoTitle"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div class="row row-cols-2">
					<div class="col-8" id="infoDescriptionContainer">
						<p id="infoDescription"></p>
					</div>
					<div class="col-4" id="infoImageContainer">
						<div class="menu-img-wrapper">
							<img id="infoImage" class="img-fluid rounded menu-img" src="" alt="Food Image">
						</div>

					</div>
				</div>

				<div id="infoFooter" class="row row-cols-2 mt-2">
					this is the footer!!
				</div>
			</div>

			<input type="hidden" id="idToRemove" />
		</div>
	</div>
</div>