@model CategoryDto

@{
	ViewData["Title"] = Model.Category.Name;
}

<div>
	<partial name="_CategoryHeader"/>

	<div class="d-flex justify-content-center">
		<div class="card menuHeader text-center mb-2 brown-bg rounded-top" style="width: 540px;">
			<div class="card-body">
				<h5 class="card-title">@Model.Category.Name.ToUpper()</h5>
				@if (Model.Category.Description != null)
				{
					<p class="card-text">@Model.Category.Description</p>
				}
			</div>
		</div>
	</div>

	<div class="row row-cols-1 g-0">
		@foreach (var food in Model.Food)
		{
			<partial name="_Item" model="food" />
		}
	</div>

	<div class="d-flex justify-content-center mt-3">

		@if (User.Identity.IsAuthenticated)
		{
			<a class="linkIcon" style="font-size: 1.5rem;"
			   asp-controller="Food"
			   asp-action="AddNew"
			   asp-route-categoryId="@Model.Category.Id">
				<i class="main-color bi bi-plus-square"></i>
			</a>
		}
	</div>

</div>

@await Html.PartialAsync("_DeleteItemModal")
@await Html.PartialAsync("_ItemInfoModal")

@section Scripts {

	<script>
		var deleteItemUrl = '@Url.Action("DeleteFromToast", "Food")';
	</script>

	<script src="~/js/deleteItem.js"></script>
	<script src="~/js/itemInfo.js"></script>
}
