@model List<CategoryModel>

<div class="card homeList transparent-bg" style="width: 540px;">
	<ul class="list-group list-group-flush">

		@foreach (CategoryModel categoryModel in Model)
		{
			<li class="list-group-item transparent-bg" id="@categoryModel.Id">

				<div class="row row-cols-@(User.Identity.IsAuthenticated? "3":"1")">
					<div class="p-0 col-@(User.Identity.IsAuthenticated? "10":"12")">
						<a id="categ-@categoryModel.Id" class="btn noBorderOnClick categoryItem w-100 h-100"
						   asp-controller="Category"
						   asp-action="Menu"
						   asp-route-categoryId=@categoryModel.Id> @categoryModel.Name.ToUpper()</a>
					</div>
					@if (User.Identity.IsAuthenticated)
					{
						<div class="col-1 d-flex justify-content-center align-items-center" id="infoImageContainer">
							<a id="deleteBtn-@categoryModel.Id" class="linkIcon text-danger deleteButton">
								<i class="bi-trash-fill"></i>
							</a>
						</div>
						<div class="col-1 d-flex justify-content-center align-items-center" id="infoImageContainer">
							<a id="editBtn-@categoryModel.Id" class="linkIcon " asp-action="Update" asp-controller="Category" asp-route-id="@categoryModel.Id">
								<i class="bi bi-pencil-square"></i>
							</a>
						</div>
					}
				</div>
			</li>
		}
	</ul>
</div>