@model List<CategoryModel>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<ul>
		@foreach (CategoryModel categoryModel in Model)
		{

			<li>
				<a class="btn btn-secondary"
				   asp-controller="Category"
				   asp-action="Menu"
				   asp-route-categoryId=@categoryModel.Id> @categoryModel.Name</a>
			</li>
		}
	</ul>

</div>
