@model List<CategoryModel>

@{
	ViewData["Title"] = "Home Page";
}

<!-- Delete modal -->
<div class="modal fade" id="toastRemove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">The following category will be removed:</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="toastRemoveButton">Remove</button>
			</div>

			<input type="hidden" id="idToRemove" />

		</div>
	</div>
</div>

<div class="text-center">
	<ul>
		@foreach (CategoryModel categoryModel in Model)
		{

			<li id="@categoryModel.Id">
				<a id="categ-@categoryModel.Id" class="btn btn-secondary"
				   asp-controller="Category"
				   asp-action="Menu"
				   asp-route-categoryId=@categoryModel.Id> @categoryModel.Name</a>
				<a id="deleteBtn-@categoryModel.Id" class="btn btn-danger deleteButton">
					<i class="bi-trash-fill"></i>
				</a>

			</li>
		}
	</ul>
	<a class="btn btn-secondary"
	   asp-controller="Category"
	   asp-action="AddNew">
		Add new
	</a>

</div>

@section Scripts {

	<script>

		function getFoodId(button) {
			//previous implementation
			//return button.closest('tr').find('.id').val(); // Retrieve the note ID from the closest row to the button
			return button.attr("id").split('-')[1];
		}

		//Delete

		$(function () {
			$(".deleteButton").on('click', function (e) {
				e.preventDefault();

				const button = $(this);
				const toast = $("#toastRemove");

				toast.modal('show');

				const id = getFoodId(button);
				toast.find(".modal-body").text($("#categ-" + id).text());
				toast.find("#idToRemove").val(id)
			});
		})

		$(function () {
			$("#toastRemoveButton").on('click', function (e) {

				e.preventDefault();

				const toast = $("#toastRemove");
				const foodId = toast.find("#idToRemove").val()

				$.ajax({
					url: '@Url.Action("DeleteFromToast", "Category")',
					type: 'POST',
					data: { id: foodId },
					success: function (response, status, jqxhr) {
						console.log("Category removed: ", response)
						$('#' + foodId).remove();
					},
					error: function (jqxhr, status, error) {
						console.log("Error removing note: ", error);
					},
					complete: function () {
						toast.modal('hide');
					}
				});
			});
		})
	</script>
}

